# ======================
# DATABASE
# ======================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=postgres
DATABASE_URL=postgresql://postgres:password@db:5432/postgres

# ======================
# JWT AUTH
# ======================
SECRET_KEY=your_super_secret_key
ALGORITHM=HS256

# ======================
# MAIL (GMAIL SMTP)
# ======================
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_google_app_password
MAIL_FROM=your_email@gmail.com
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587

# ======================
# CLOUDINARY
# ======================
CLOUDINARY_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret%

# ======================
# REDIS
# ======================
REDIS_HOST=redis
REDIS_PORT=6379


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_smpt_password